body{
    background-color: rgb(158, 241, 155);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;  
    
}

h1{
  color:rgb(59, 60, 129);
  font-family: cursive;


}

   .grid{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px ;
    grid-template-rows:  100px 100px 100px 100px;
    margin-top: 6%;
    margin-left: 36.5%;
    column-gap: 2px;
    row-gap: 2px;
} 

  img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }  


  #display{
    text-align: center;
  }

  #startGame{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:rgba(111, 0, 255, 0.5);
    text-align:center;
    transition: all 0.2s;
    }
    #startGame:hover{
    background-color:rgb(111, 0, 255);
    }
    @media all and (max-width:30em){
    a.button3{
    display:block;
    margin:0.2em auto;
    }
    }

    #startOver{
      display:inline-block;
      padding:0.3em 1.2em;
      margin:0 0.3em 0.3em 0;
      border-radius:2em;
      box-sizing: border-box;
      text-decoration:none;
      font-family:'Roboto',sans-serif;
      font-weight:300;
      color:#FFFFFF;
      background-color:rgba(111, 0, 255, 0.5);
      text-align:center;
      transition: all 0.2s;
      }
      #startOver:hover{
      background-color:rgba(111, 0, 255);
      }
      @media all and (max-width:30em){
      a.button3{
      display:block;
      margin:0.2em auto;
      }
      }